/* убираем встроенные иконки календаря/времени */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}
input::placeholder {
  color: #8B8B8B;
  opacity: 1;
}

input[type="date"]::-webkit-datetime-edit {
  color: #8B8B8B;
}

input[type="time"]::-webkit-datetime-edit {
  color: #8B8B8B;
}
